main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.secao-de-jogos {
  background-color: var(--cor-secundaria);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 50vw;
  height: auto;
  padding: 25px 25px 40px 25px;
  border-radius: 25px;
  flex-shrink: 0;
  flex-grow: 0;
}

.colecao-de-jogos {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: auto;
  height: auto;
}

.categoria-jgs {
  padding-left: 10px;
  font-size: 22px;
}

.jgs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  gap: 10px 40px;
}

.jgs:hover {
  overflow-x: auto;
}

.jg {
  background-color: var(--cor-quartenaria);

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  width: 160px;
  height: 180px;
  border-radius: 25px;
  flex-shrink: 0;
}

.capa-jg {
  background-color: var(--cor-secundaria);

  width: 130px;
  height: 100px;
  border-radius: 25px;
  margin-top: 15px;
}

.nome-jg {
  color: #000000;
  font-weight: 400;

  width: 140px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}
